.day-photos {
    min-height: 100vh;
    border-top: 1px solid transparent;
    .photos-container {
        width: calc(100vw - (var(--size-margin) * 2));
        margin-left: var(--size-margin);
        margin-top: calc(2 * var(--size-margin));
        >.masonry {
            width: 100%;
            >.grid-item{
                width: calc(33.33% - 1%);
                margin: 0.5%;
                >img{
                    width: 100%;
                }
                >video {
                    width: 100%;
                    height: 133.33%;
                    object-fit: cover;
                }
                &.portrait {
    
                }
                &.half {
                    width: calc(50% - 1%);
                }
                &.landscape {
                    width: calc(66.66% - 1%);
                }
                &.panorama {
                    width: calc(100% - 1%);
                }
            }
        }
    }
}