.map-day-thirteen {
    height: 100%;
    width: 100%;
    .zoom-in {
        animation: zoom-in 2s linear 0s forwards;
        transform-origin: 50px 70px;
    }
    .porto-mark, .porto-text {
        opacity: 0;
        animation: appear 1s linear 4s forwards;
    }
    .scandola-mark, .scandola-text {
        opacity: 0;
        animation: appear 1s linear 4.7s forwards;
    }
    .girolata-mark, .girolata-text {
        opacity: 0;
        animation: appear 1s linear 5s forwards;
    }
    .animated-path {
        stroke-dasharray: 115;
        stroke-dashoffset: 115;
        animation: day-thirteen-road-trip-path 4s linear 2s forwards;
    }
}

@keyframes day-thirteen-road-trip-path {
    0% {
        stroke-dashoffset: 115;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
