.day-header {
    margin-left: var(--size-margin-35);
    margin-bottom: 30px;
    font-family: Kiona;
    >.back-to-itinerary {
        cursor: pointer;
        margin-bottom: 20px;
    }
    >.day-header-number {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        font-size: 40px;
        width: calc((100vw - 70px - 4px) / 14);
        text-align: center;
        color: var(--color-dark-grey);
        &.active {
            color: var(--color-off-black);
            border: 2px solid var(--color-off-black);
        }
    }
}