.day-intro {
    >.day-intro-text, >.day-intro-map {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 50px;
    }
    >.day-intro-map {
        width: calc(40vw - var(--size-margin-35));
        height: calc(100vh - 180px);
        margin-left: var(--size-margin-35);
        text-align: center;
    }
    >.day-intro-text {
        width: calc(60vw - var(--size-margin-35));
        margin-right: var(--size-margin-35);
        >h2 {
            font-family: Signature;
            font-size: var(--size-font-size-header-signature); 
            font-weight: 100;
        }
    }
}

@media screen and (max-width: 600px) {
    .day-intro {
        >.day-intro-text, >.day-intro-map {
            display: block;
            width: calc(100vw - (2 * var(--size-margin-35)));
            margin-left: var(--size-margin-35);
        }
    }
}