.day-photos {
    min-height: 100vh;
    border-top: 1px solid transparent;
    >.photos-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 300vh;
        margin-top: 30px;
        padding: 0 35px;
        box-sizing: border-box;
        .image {
            margin: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            >video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                -webkit-border-radius: 1px;
            }
        }
        >.row {
            flex: 1;
            display: flex;
            flex-direction: row;
            >.column {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
        .p111, .p112, .p121, .p131, .p132, .p211, .p212, .p221, .p222, .p231, .p3 {
            flex: 1;
        }
        .p122 {
            flex: 3;
        }
    }
}