.home-photos {
    background-color: var(--color-light-yellow);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    >p {
        text-align: center;
        margin: 0 150px;
    }
    img {
        width: 100%;
        height: 100%;
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    >.photos-container-relative {
        position: relative;
        >.screen-detector {
            position: absolute;
            top: 50%;
        }
        >.photos-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 0 25px;
            box-sizing: border-box;
            margin: var(--size-big-margin) 0;
            >*{
                margin: var(--size-very-small-margin);
            }
            >.vertical-box{
                flex: 1;
                position: relative;
                >.vertical-box-cover {
                    left: 0;
                    right: 0;
                    height: 100%;
                    position: absolute;
                    background-color: var(--color-light-yellow);
                    transition: height 1s 2s;
                    &.left {
                        bottom: 0;
                    }
                    &.right {
                        top: 0;
                    }
                }
            }
            >.middle-box{
                display: flex;
                flex-direction: column;
                flex: 3;
                >.line {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                    >.first{
                        margin-right: var(--size-very-small-margin);
                        position: relative;
                    }
                    >.second{
                        margin-left: var(--size-very-small-margin);
                        position: relative;
                    }
                    &.one{
                        margin-bottom: var(--size-very-small-margin);
                        >.first{
                            flex: 1;
                        }
                        >.second{
                            flex: 2;
                        }
                    }
                    &.two{
                        margin-top: var(--size-very-small-margin);
                        >.first{
                            flex: 2;
                        }
                        >.second{
                            flex: 1;
                        }
                    }
                    .horizontal-box-cover {
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        position: absolute;
                        background-color: var(--color-light-yellow);
                        transition: width 1s;
                        &.line-one {
                            left: 0;
                        }
                        &.line-two {
                            right: 0;
                        }
                    }
                    .square-box-cover {
                        left: 0;
                        right: 0;
                        height: 100%;
                        position: absolute;
                        background-color: var(--color-light-yellow);
                        transition: height 1s 1s;
                        &.line-one {
                            top: 0;
                        }
                        &.line-two {
                            bottom: 0;
                        }
                    }
                }
            }
            &.active {
                >.vertical-box{
                    >.vertical-box-cover {
                        height: 0;
                    }
                }
                >.middle-box {
                    >.line {
                        .horizontal-box-cover {
                            width: 0;
                        }
                        .square-box-cover {
                            height: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home-photos {
        >p {
            margin: 0 var(--size-margin-35);
        }
    }
}