.transport-mode {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: solid 2px transparent;
    transition: border-color 0.4s;
    >.icon, >.text {
        display: inline-block;
        vertical-align: top;
    }
    >.icon {
        width: var(--size-font-size-header-signature);
        height: var(--size-font-size-header-signature);
        border: 1px solid transparent;
        >img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    >.text {
        width: 300px;
        height: 100px;
        >p {
            font-size: var(--size-font-size-secondary-title);
            margin-left: var(--size-big-margin);
            text-align: left;
        }
    }
    &:hover {
        border-color: var(--color-off-black);
    }
    &.margin-right {
        margin-right: var(--size-margin);
    }
}

@media screen and (max-width: 600px) {
    .transport-mode {
        display: block;
        >.text {
            width: 50vw;
            height: 50px;
        }
        &.margin-right {
            margin-right: 0;
        }
    }
}