.transport {
    >h2 {
        font-family: Signature;
        font-weight: normal;
        font-size: 100px;
        text-align: center;
    }
    >p {
        text-align: center;
        margin: 0 150px;
    }
    >.transport-modes {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        >.transport-modes-middle {
            height: var(--size-margin);
        }
    }
}