.car {
    min-height: 100vh;
    border-top: 1px solid transparent;
    background-color: var(--color-light-yellow);
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        margin-bottom: 30px;
        &.left {
            width: 27.8%;
            margin-left: var(--size-margin-35);
            >img {
                width: 400px;
                margin-top: 30px;
            }
        }
        &.middle {
            width: 13.9%;
        }
        &.right {
            width: 53.5%;
            text-align: center;
            >p {
                text-align: left;
            }
            >img {
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .car {
        >.column {
            display: block;
            margin-bottom: 0;
            padding-bottom: var(--size-big-margin);
            &.left, &.right {
                width: calc(100vw - (var(--size-margin) * 2));
                margin-left: var(--size-margin);
            }
            &.middle {
                display: none;
            }
            &.left {
                >img {
                    width: calc(100vw - (var(--size-margin) * 2));
                }
            }
            &.right {
                >img {
                    height: unset;
                    width: calc(100vw - (var(--size-margin) * 2));
                }
            }
        }
    }
}