.car {
    min-height: 100vh;
    border-top: 1px solid transparent;
    background-color: var(--color-light-yellow);
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        margin-bottom: 30px;
        &.left {
            width: 400px;
            margin-left: var(--size-margin-35);
            >img {
                width: 400px;
                margin-top: 30px;
            }
        }
        &.middle {
            width: 200px;
        }
        &.right {
            width: 770px;
            text-align: center;
            >p {
                text-align: left;
            }
            >img {
                height: 200px;
            }
        }
    }
}