.car-detail {
    >.image-container, >.middle, >.text-container {
        display: inline-block;
        vertical-align: top;
    }
    >.image-container {
        width: 80px;
        >img {
            width: 80px;
        }
    }
    >.middle {
        width: 10px;
    }
    >.text-container {
        width: 310px;
        >p {
            line-height: normal;
            >.small {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
            }
            >.normal {
                display: inline-block;
                vertical-align: middle;
                font-size: var(--size-font-size-default);
            }
            >.space {
                display: inline-block;
                vertical-align: middle;
                width: 4px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .car-detail {
        >.image-container {
            width: 40px;
            >img {
                width: 40px;
            }
        }
        >.text-container {
            width: calc(100vw - (var(--size-margin) * 2) - 40px - 10px);
            >p {
                >.small {
                    font-size: 10px;
                }
            }
        }
    }
}