.map-day-one {
    height: 100%;
    width: 100%;
    .animated {
        animation: zoom-in 5s linear 0s forwards;
        transform-origin: 20px 191px;
    }
    .ajaccio-mark {
        opacity: 0;
        animation: flash 1s linear 0s infinite;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}