.accommodation {
    padding: 0 var(--size-margin-35);
    margin-bottom: var(--size-margin);
    >h2 {
        font-family: Signature;
        font-weight: normal;
        font-size: var(--size-font-size-header-signature);
        text-align: center;
    }
}