.footer {
    font-family: Kiona;
    >.grey {
        background-color: var(--color-light-grey);
        margin-top: 1em;
        margin-left: 3em;
        margin-right: 3em;
        padding: 0.5em;
        padding-left: 1em;
        padding-top: 1em;
        position: relative;
        >.left{
            display: inline-block;
            >h1 {
                font-weight: normal;
                font-size: 2.5em;
            }
            >.social-media {
                margin-top: 0.2em;
            }
        }
        >.right{
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5em;
            >h2 {
                text-align: right;
                font-weight: normal;
            }
        }
    }
    >h3 {
        text-align: center;
        font-weight: 100;
        font-size: 1.25em;
        margin: 0.5em;
    }
}