.footer {
    font-family: Kiona;
    >.grey {
        background-color: var(--color-light-grey);
        margin-top: 1em;
        margin-left: 3em;
        margin-right: 3em;
        padding: 0.5em;
        padding-left: 1em;
        padding-top: 1em;
        position: relative;
        >.left{
            display: inline-block;
            >h1 {
                font-weight: normal;
                font-size: 2.5em;
            }
            >.social-media {
                margin-top: 0.2em;
            }
        }
        >.right {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5em;
            max-width: calc(100vw - 500px);
            text-align: right;
            >h2 {
                text-align: right;
                font-weight: normal;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                &.divider {
                    margin: 0 var(--size-very-small-margin);
                    cursor: initial;
                }
            }
        }
    }
    >h3 {
        text-align: center;
        font-weight: 100;
        font-size: 1.25em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        >.grey {
            margin-left: var(--size-margin-35);
            margin-right: var(--size-margin-35);
            >.left, >.right {
                display: block;
            }
            >.left {
                >h1 {
                    font-size: var(--size-font-size-secondary-title);
                }
            }
            >.right {
                position: relative;
                top: unset;
                transform: unset;
                right: unset;
                max-width: calc(100vw - (var(--size-margin-35) * 2) - 2em);
                >h2 {
                    text-align: left;
                    font-size: var(--size-font-size-default);
                    display: block;
                    &.divider {
                        display: none;
                    }
                }
            }
        }
        >h3 {
            font-size: var(--size-font-size-default);
            width: calc(100vw - ( 2 * var(--size-margin-35)));
            margin-left: var(--size-margin-35);
        }
    }
}