.infos {
    >.section-title {
        display: inline-block;
        vertical-align: top;
        width: calc(33.33vw - 23.33px);
        font-family: Kiona;
        font-size: 40px;
        cursor: pointer;
        >.underline {
            transition: width 0.8s;
            width: 0%;
            height: 2px;
            margin-top: 10px;
        }
        &.active {
            color: var(--color-dark-yellow);
            >.underline {
                width: 90%;
                background-color: var(--color-dark-yellow);
            }
        }
        &:hover {
            color: var(--color-dark-yellow);
            >.underline {
                width: 90%;
                background-color: var(--color-dark-yellow);
            }
        }
        &.first {
            margin-left: 35px;
        }
    }
    >.info-content {
      flex: 1;
    }
}