.infos {
    >.section-title {
        display: inline-block;
        vertical-align: top;
        width: calc(33.33vw - 23.33px);
        font-family: Kiona;
        font-size: 40px;
        cursor: pointer;
        >.underline {
            transition: width 0.8s;
            width: 0%;
            height: 2px;
            margin-top: var(--size-very-small-margin);
        }
        &.active {
            color: var(--color-dark-yellow);
            >.underline {
                width: 90%;
                background-color: var(--color-dark-yellow);
            }
        }
        &:hover {
            color: var(--color-dark-yellow);
            >.underline {
                width: 90%;
                background-color: var(--color-dark-yellow);
            }
        }
        &.first {
            margin-left: var(--size-margin-35);
        }
    }
    >.info-content {
      flex: 1;
    }
}

@media screen and (max-width: 600px) {
    .infos {
        >.section-title {
            display: block;
            width: calc(100vw - (var(--size-margin-35) * 2));
            font-size: 25px;
            margin-left: var(--size-margin-35);
            &.active {
                >.underline {
                    width: 100%;
                }
            }
            &:hover {
                >.underline {
                    width: 100%;
                }
            }
        }
    }
}