.train {
    min-height: 100vh;
    border-top: 1px solid transparent;
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        &.left {
            width: 770px;
            margin-left: 35px;
        }
        &.middle {
            width: 200px;
        }
        &.right {
            width: 400px;
        }
    }
}