.train {
    min-height: 100vh;
    border-top: 1px solid transparent;
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        margin-bottom: 30px;
        &.left {
            width: 53.5%;
            margin-left: var(--size-margin-35);
        }
        &.middle {
            width: 13.9%;
        }
        &.right {
            width: 27.8%;
            >img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .train {
        >.column {
            display: block;
            margin-bottom: 0;
            padding-bottom: var(--size-big-margin);
            &.left, &.right {
                width: calc(100vw - (var(--size-margin) * 2));
                margin-left: var(--size-margin);
            }
            &.middle {
                display: none;
            }
        }
    }
}