.ferry {
    min-height: 100vh;
    border-top: 1px solid transparent;
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        margin-bottom: 30px;
        &.left {
            width: 53.5%;
            margin-left: var(--size-margin-35);
            >p {
                >.departure-ports {
                    display: inline-block;
                    >img {
                        width: 50px;
                        margin: 0 10px;
                        line-height: 40px;
                    }
                    >.italian-flag {
                        margin-left: 30px;
                    }
                }
                >.choose-text {
                    display: inline-block;
                    vertical-align: top;
                    width: 200px;
                }
                >select {
                    cursor: pointer;
                    font-weight: 100;
                    font-size: var(--size-font-size-default);
                    line-height: calc(2 * var(--size-font-size-default));
                    font-family: Timeless;
                    color: var(--color-off-black);
                    background-color: transparent;
                    outline: 0px;
                    padding: 5px;
                    margin-left: var(--size-very-small-margin);
                }
            }
        }
        &.middle {
            width: 13.9%;
        }
        &.right {
            width: 27.8%;
            >p {
                margin: 0;
                >.image-container, >.middle, >.text-container {
                    display: inline-block;
                    vertical-align: top;
                }
                >.middle {
                    width: 10px;
                }
                >.image-container {
                    width: 50px;
                    >img {
                        width: 50px;
                    }
                }
                >.text-container {
                    line-height: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .ferry {
        >.column {
            display: block;
            margin-bottom: 0;
            padding-bottom: var(--size-big-margin);
            &.left, &.right {
                width: calc(100vw - (var(--size-margin) * 2));
                margin-left: var(--size-margin);
            }
            &.middle {
                display: none;
            }
        }
    }
}