.port {
    >.name {
        cursor: pointer;
    }
    >.details {
        height: 0px;
        overflow: hidden;
        transition: height 0.4s;
        &.visible {
            height: 250px;
        }
    }
}

@media screen and (max-width: 600px) {
    .port {
        >.details {
            &.visible {
                height: 200px;
            }
        }
    }
}