.itinerary-section-title {
    font-family: Timeless;
    font-size: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    >.underline {
        transition: width 0.8s;
        width: 0%;
        height: 2px;
        margin: auto;
        margin-top: 10px;
        background-color: var(--color-off-black);
    }
    &:hover {
        >.underline {
            width: 60%;
        }
    }
}