.itinerary-nutshell {
    background-color: var(--color-light-yellow);
    min-height: 100vh;
    border: 1px solid transparent;
    >.switch {
        float: right;
        margin-right: 35px;
        margin-top: -45px;
        >p, >.bar-circle, .bar, .circle {
            display: inline-block;
        }
        >p {
            margin: 0;
            cursor: pointer;
        }
        >.bar-circle{
            margin-left: 30px;
            margin-right: 0px;
            >.bar {
                width: 60px;
                height: 2px;
                background-color: var(--color-off-black);
                vertical-align: middle;
                line-height: 1rem;
            }
            >.circle {
                width: 30px;
                height: 30px;
                background-color: var(--color-off-black);
                vertical-align: middle;
                line-height: 1rem;
                border-radius: 50%;
                transition: transform 0.4s;
                transform: translateX(-15px);
                &.icon {
                    transform: translateX(-75px);
                }
            }
        }
    }
    >.table {
        width: calc(100vw - 70px);
        height: calc(100vh - 200px);
        margin-left: 35px;
        border: 2px solid var(--color-off-black);
        border-radius: 30px;
        text-align: center;
        >.table-line {
            width: 100%;
            height: calc((100vh - 200px) / 2 - 2px);
            >.table-line-number {
                font-family: Kiona;
                font-size: 40px;
                height: 50px;
                border-bottom: 1px solid var(--color-off-black);
            }
            >.days {
                display: flex;
                flex-direction: row;
                &.icon {
                    >.table-cell {
                        &.day {
                            &:hover {
                                >.flippable {
                                    transform: rotateY(360deg);
                                }
                            }
                            >.half-day {
                                &:hover {
                                    >.flippable {
                                        transform: rotateY(360deg);
                                    }
                                }
                            }
                        }
                    }
                    .flippable {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
        .table-cell {
            display: inline-block;
            width: calc((100vw - 70px) / 7);
            &.day {
                height: calc((100vh - 200px) / 2 - 52px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:hover {
                    >.flippable {
                        transform: rotateY(180deg);
                    }
                }
                >.half-day {
                    flex: 1;
                    position: relative;
                    &:hover {
                        >.flippable {
                            transform: rotateY(180deg);
                        }
                    }
                }
                >.day-divider {
                    width: 50%;
                    height: 1px;
                    background-color: var(--color-off-black);
                    align-self: center;
                }
                .flippable {
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    height: 100%;
                    width: 100%;
                    >.front, >.back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                    }
                    >.front {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    >.back {
                        transform: rotateY(180deg);
                        >img {
                            max-height: 80%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        >.table-line-divider {
            width: 100%;
            height: 2px;
            background-color: var(--color-off-black);
        }
    }
}