.itinerary {
    text-align: center;
    >.columns {
        overflow: hidden;
        width: calc(100vw - (var(--size-margin-35) * 2));
        margin-left: var(--size-margin-35);
        &.active {
            >.column {
                >.image-container {
                    &.one, &.two, &.three {
                        transform: translateY(0);
                    }
                }
            }
        }
        >.column {
            display: inline-block;
            vertical-align: top;
            width: calc(33.33vw - 23.33px);
            height: calc(100vh - 180px);
            padding-bottom: 30px;
            >h1 {
                font-family: Kiona;
                font-weight: normal;
                font-size: var(--size-font-size-header);
                margin-top: 50px;
            }
            >h2 {
                font-family: Signature;
                font-weight: normal;
                font-size: var(--size-font-size-header-signature);
            }
            >.image-container {
                width: 9vw;
                height: 60vh;
                border: 1px solid var(--color-off-black);
                display: inline-block;
                vertical-align: top;
                margin-right: 1vw;
                transition: transform 0.8s;
                >img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
                &.one {
                    transform: translateY(200px);
                }
                &.two {
                    margin-top: 100px;
                    transform: translateY(-200px);
                }
                &.three {
                    margin-top: 40px;
                    transform: translateY(200px);
                }
            }
        }
    }
}

@media screen and (max-width: 1245px) {
    .itinerary {
        >.columns {
            >.column {
                &.middle {
                    display: block;
                    width: calc(100vw - (var(--size-margin-35) * 2));
                    height: unset;
                }
                &.left, &.right {
                    display: none;
                }
            }
        }
    }
}