.section-header {
    &.clickable {
        cursor: pointer;
    }
    >h1 {
        font-family: Kiona;
        text-align: center;
        font-weight: normal;
        font-size: 60px;
        margin-top: 30px;
    }
    >h2 {
        font-family: Signature;
        text-align: center;
        font-weight: normal;
        font-size: 100px;
        margin-left: 235px;
        margin-top: -35px;
    }
}