.day-eleven {
    h3 {
        font-family: Kiona;
    }
    .am {
        .map-agriates-zoom {
            width: 80%;
            float: right;
            margin-right: -150px;
        }
        .map-agriates {
            width: 100%;
        }
    }
}