.ajaccio-airport-transport {
    >.title, >.middle, >.data {
        display: inline-block;
        vertical-align: text-bottom;
    }
    >.image-container {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        >img {
            width: 40px;
        }
    }
    >.middle {
        width: 10px;
    }
    >.title, >.data {
        // width: 310px;
        >p {
            line-height: normal;
            margin: 0;
            >a {
                line-height: normal;
            }
            >.small {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
            }
            >.normal {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
            }
            >.space {
                display: inline-block;
                vertical-align: middle;
                width: 4px;
            }
        }
    }
    >.title {
        margin-left: 30px;
    }
}