.plane {
    min-height: 100vh;
    background-color: var(--color-light-yellow);
    border-top: 1px solid transparent;
    >.column {
        display: inline-block;
        vertical-align: top;
        min-height: calc(100vh - 180px);
        margin-bottom: 30px;
        &.left {
            width: 400px;
            margin-left: 35px;
            text-align: center;
            >p {
                margin: 0;
                text-align: left;
            }
            >img {
                margin-top: 30px;
                width: 300px;
            }
        }
        &.middle {
            width: 200px;
        }
        &.right {
            width: 770px;
            ul {
                list-style-type : none;
                margin-top: 0;
            }
        }
    }
}