.table {
    width: calc(100vw - (var(--size-margin-35) * 2));
    min-height: calc(100vh - 200px);
    margin-left: var(--size-margin-35);
    border: 2px solid var(--color-off-black);
    border-radius: 30px;
    text-align: center;
    >.table-desktop {
        >.table-line {
            width: 100%;
            height: calc((100vh - 200px) / 2 - 2px);
            >.days {
                display: flex;
                flex-direction: row;
                &.icon {
                    >.full-day {
                        &:hover {
                            >.flippable {
                                transform: rotateY(360deg);
                            }
                        }
                    }
                    >.two-half-days {
                        >.half-day {
                            &:hover {
                                >.flippable {
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                    }
                    .flippable {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
        >.table-line-divider {
            width: 100%;
            height: 2px;
            background-color: var(--color-off-black);
        }
    }

    >.table-mobile {
        >.table-line {
            width: 100%;
            min-height: calc((100vh - 200px) / 2 - 2px);
            >.days {
                display: flex;
                flex-direction: row;
                &.icon {
                    >.full-day {
                        &:hover {
                            >.flippable {
                                transform: rotateY(360deg);
                            }
                        }
                    }
                    >.two-half-days {
                        >.half-day {
                            &:hover {
                                >.flippable {
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                    }
                    .flippable {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
        >.table-line-divider {
            width: 100%;
            height: 2px;
            background-color: var(--color-off-black);
        }
    }
}

@media screen and (max-width: 600px) {
    .table {
        margin-top: 40px;
        >.table-line {
            >.days {
                >.two-half-days, >.full-day {
                    width: calc(100vw - (var(--size-margin-35) * 2));
                }
            }
        }
    }
}