.table-line-number {
    font-family: Kiona;
    font-size: calc(2 * var(--size-font-size-default));
    height: var(--size-itinerary-table-number-height);
    border-bottom: 1px solid var(--color-off-black);
    >.table-number {
        display: inline-block;
        width: calc((100vw - (var(--size-margin-35) * 2)) / 7);
    }
    &.is-mobile {
        &.line-1 {
            >.table-number {
                width: calc((100vw - (var(--size-margin-35) * 2)) / 3);
            }
        }
        &.line-2 {
            >.table-number {
                width: calc((100vw - (var(--size-margin-35) * 2)) / 4);
            }
        }
    }
}