.two-half-days {
    display: inline-block;
    width: calc((100vw - 70px) / 7);
    height: calc((100vh - 200px) / 2 - 52px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.is-mobile {
        min-height: calc(40vh);
        padding-bottom: var(--size-tiny-margin);
        &.line-1 {
            width: calc((100vw - (var(--size-margin-35) * 2)) / 2);
        }
        &.line-2 {
            width: calc((100vw - (var(--size-margin-35) * 2)) / 3);
        }
    }
    >.day-divider {
        width: 50%;
        height: 1px;
        background-color: var(--color-off-black);
        align-self: center;
    }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
    .two-half-days {
        height: calc(30vw - var(--size-itinerary-table-number-height));
    }
}